# Dependencies
node_modules/

# Build output
dist/

# Vite
*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Environment
.env
.env.*

# Test coverage
coverage/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Windows
bash.exe.stackdump
